extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        label(for='id') ID: 
        input(type='text' name='id' size='40')
        br
        label(for='color') Color: 
        input(type='text' name='color' min='1900')
        br
        label(for='modelo') Modelo:
        input(type='text' name='modelo' value='')
        br
        label(for='lat') Latitud:
        input(type='text' name='lat' value='')
        br
        label(for='lng') Longitud:
        input(type='text' name='lng' value='')    
        br
        input(type='submit' value='Enviar')